name: CI build

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master", "jami-builder", "rebasing-branch" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dev stuff
        run: |
          sudo apt update
          sudo apt install -y libc6-dev autopoint
      - uses: actions/checkout@v4
      - name: Set git credentials store
        run: git config credential.helper store
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            gradle
            updater/gradle
            jami-client-android/jami-android/gradle
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Grant execute permission for gradlew
        run: chmod +x jami-android/gradlew

      - name: Decode Android Keystore
        run: |
          echo "${{ secrets.KEYSTORE }}" | base64 --decode > jami-android/app.keystore

      - name: Write jami key
        run: |
          [[ -d ~/.gradle ]] || mkdir ~/.gradle
          echo "jamiAppSigningKey=${{ secrets.KEYSTORE_PASSWORD }}" >> ~/.gradle/gradle.properties

      - name: Build jami Android (only UI)
        working-directory: jami-android
        run: |
          ./gradlew --no-daemon app:assembleDebug -PskipDaemon=true
